<head>
    <%- include ('../partials/javascript.ejs') %>
    <%- include ('../partials/stylesheets.ejs') %>

</head>

<body>
    <div id="wrapper">
        <%- include ('../partials/sidebar.ejs') %>
        <div class="content">
            
        </div>
    </div>
</body>