body {
  background-color: #545b628a !important;
  height: 100%;
}

html{
  height: 100%;
}

#map {
  height: 100%;
  width: 75%;
  border-radius: 20px;
}


#wrapper {
  overflow: hidden;
}

.content{
  height: 100%;
  margin-left: 272px;
  padding-bottom: 70px;
}

.map-container {
  position: relative;
  width: 100%;
  height: 60%;
  left: 12%;
  top: 2%;
}

.crimeInfo {
  float: left;
  border: 2px rgb(139, 139, 139) solid;
  border-radius: 10px;
  position: relative;
  height: 40%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 20%;
  margin-top: 3%;
  margin-left: 10%;
  text-align: center;
  background-color: white;

}

.crimeInfo::-webkit-scrollbar {
  display: none;
}

#info {
  text-align: left;
  margin-left: 5%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: "Lato";
  font-size: 100%;
  overflow-y: scroll;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #fefefe;
}

.sidebar {
  position: absolute;
  width: 17em;
  height: 100%;
  top: 0;
  background-color: #19222a;
  visibility: visible;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.sidebar a {
  text-decoration: none !important;
  color: black;
}

.sidebar a:hover {
  text-decoration: none !important;
  color: white !important;
}

.sidebar header {
  background-color: #eb5252;
  width: 100%;
  display: block;
  padding: 0.75em 1em;
}

.sidebar-nav {
  position: fixed;
  background-color: #2c2929;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
}

.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
}

.sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.05em 1em;
  position: relative;
  display: block;
}

.sidebar-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.sidebar-nav ul li i {
  font-size: 1.8em;
  padding-right: 0.5em;
  width: 9em;
  display: inline;
  vertical-align: middle;
}

.sidebar-nav .nav-flyout {
  position: absolute;
  background-color: #080d11;
  z-index: 9;
  left: 2.5em;
  top: 0;
  height: 100vh;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav .nav-flyout a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.sidebar-nav ul>li:hover .nav-flyout {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.postcode-input{
  width: 50% !important;
  left: 12%;
  margin: 10px;
  position: relative;
}

.nav {
  overflow: hidden;
  background-color: #333;
  height: 50px;
}
