{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Crime Wave</title>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_knxG1GWAzITsxVGzJpF_lZ4-DXgF5m4&callback=initMap&libraries=&v=weekly"
		defer></script>


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
	<link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
	<script src="{% static 'js/all.min.js' %}"></script>
	<script src="{% static '/js/map.js' %}"></script>
</head>

<body>

	<div id="wrapper">

		<!-- Sidebar -->
		<div class="sidebar">
			<header>
				CrimeWave
			</header>
			<nav class="sidebar-nav">
				<ul>
					<li>
						<a href="#"><i class="fa fa-home"></i> <span>Home</span></a>
					</li>
					<li>
						<a href="#"><i class="far fa-flag"></i> <span class="">Report Crime</span></a>
					</li>
					<li>
						<a href="#"><i class="fas fa-users"></i> <span class="">About Us</span></a>
					</li>
				</ul>
				</ul>
			</nav>
		</div>
		<!-- Sidebar -->

		<div class="content">

			<div class="map-container">

				<div>
					<input class="form-control postcode-input" id="postcode" type="textbox"
						placeholder="Type in address...">
				</div>
				<div id="map"></div>
				<div id="crimeInfo" class="crimeInfo">
					<h2>Contact Info</h2>
					<div id="info">
						<p<span>Name: </span><span id="forceName"></span></p>
							<p<span>Website: </span><a id="forceWebsite"></a></p>
								<p><span>Email: </span><a id="forceEmail"></a></p>
								<p><span>Facebook: </span><a id="forceFacebook"></a></p>
								<p><span>Telephone: </span><span id="forceTelephone"></span></p>
								<p><span>Twitter: </span><a id="forceTwitter"></a></p>
					</div>
				</div>
				<div id="crimeInfoState" class="crimeInfo">
					<h2>Street Crime</h2>
					<p>
						<h3 id="crimeRegion"></h3>
					</p>
					<p><label for="start">Month:</label>
						<input type="month" id="crimeMonth" name="start" min="2018-03" value="2019-05"></p>
					<p<span>Number of Crimes: </span><span id="crimeStats"></span></p>

				</div>
			</div>
		</div>

</body>
<script>
	$(document).ready(function () {

		$('#postcode').keyup(function (e) {
			if (e.keyCode == 13) {
				var address = document.getElementById('postcode').value;
				geocoder.geocode({
					'address': address
				}, function (results, status) {
					if (status == 'OK') {
						map.setCenter(results[0].geometry.location);
						displayCoordinates(results[0].geometry.location);
					} else {
						alert('Geocode was not successful for the following reason: ' + status);
					}
				});
			}
		});
	})
</script>

</html>